<div id="theme-page" class="master-holder clear " role="main" itemprop="mainContentOfPage">
    <div class="mk-main-wrapper-holder">
        <div id="mk-page-id-10" class="theme-page-wrapper mk-main-wrapper mk-grid full-layout no-padding ">
              <div class="theme-content no-padding" itemprop="mainContentOfPage">
                    
<div style="margin-top: 110px; background-image: url(/landingPage.jpeg); height: 500px; background-size: cover">
<h1 style="text-align: left; color: white; margin-left: 100px; padding-top: 100px">Motion Gesture Analysis</h1>
<h3 style="text-align: left; color: white; margin-left: 100px">Auto recognize any gesture</h3>
<h3 style="text-align: left; color: white; margin-left: 100px">Deep analysis for fitness and sports movements</h3>
</div>



<div style="background-image: url(/split_squat.png); height: 700px; background-size: cover">
<h1 style="text-align: left; margin-left: 100px; padding-top: 100px">Leader in Motion Tracking Technology</h1>
<p style="text-align: left; margin-left: 100px; color: #777777; line-height: 1.66em; text-decoration: none; width:400px">Vimo Labs provides motion gesture recognition solutions across multiple platforms. Our technology has been validated in our consumer apps with hundreds of thousands of users</p>
</div>



<div style="background-image: url(/team-min.jpg); height: 500px; background-size: cover">
<h1 style="text-align: left; margin-left: 100px; padding-top: 100px">Transforming the Way You Track</h1>
<p style="text-align: left; margin-left: 100px; color: white; line-height: 1.66em; text-decoration: none;width: 400px">Vimo Labs mission is to provide you insights with wearables, whether it is a golf swing, your gym workout, or any other gestures</p>
</div>



<div style="background-image: url(/golf_image.png); height: 700px; background-size: cover">
<h1 style="text-align: left; margin-left: 500px; padding-top: 100px;">Smart Apps that Track Human Movement</h1>
<p style="text-align: left; margin-left: 500px; color: #777777; line-height: 1.66em; text-decoration: none; width: 400px">We&#8217;ve developed our own suite of apps that automatically recognize single gestures, identify repetitive motions, and evaluate form and performance. The Vimo Labs collection operates across multiple platforms including mobile, wearables, and even the new Apple TV.</p>
</div>
<div class="clearboth"></div>

